<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem"><:bigup:cfg_titre_parametrages:></h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}

		[(#SAISIE{case, charger_public,
			label=<:bigup:cfg_charger_public:>,
			label_case=<:bigup:cfg_charger_public_case:>})]

		[(#SAISIE{input, max_file_size,
			label=<:bigup:cfg_max_file_size:>,
			explication=<:bigup:cfg_max_file_size_explication:>})]

		<input type="hidden" name="_meta_casier" value="bigup" />
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>
